<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trying React here</title>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module">
        tailwind.config = {
            darkMode: "class",
            theme: {
                extend: {
                    colors: {
                        primary: {
                            400: "hsl(228, 86%, 65%)",
                            600: "hsl(228, 71%, 53%)",
                        },
                        secondary: {
                            400: "hsl(350, 75%, 65%)",
                        },
                        neutral: {
                            200: "rgb(133, 136, 154)",
                        },
                    },
                },
                fontFamily: {
                    sans: ["Poppins", "sans-serif"],
                },
            }
        };
    </script>
    <style>
        .hide-scrollbar {
            /* Firefox */
            scrollbar-width: none;
        }

        /* Safari and Chrome */
        .hide-scrollbar::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>

<body>
    <div id="root"></div>
    <script type="text/babel" data-type="module">
        import * as HeroIcons from 'https://cdn.skypack.dev/heroicons-react';

        const useState = React.useState
        const useEffect = React.useEffect

        function App() {
            const [isDarkMode, setIsDarkMode] = useState(false)

            useEffect(() => {
                const onPageLoad = () => {
                    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                        document.documentElement.classList.add('dark')
                        setIsDarkMode(true)
                        localStorage.setItem('color-theme', 'dark');
                    } else {
                        document.documentElement.classList.remove('dark')
                        setIsDarkMode(false)
                        localStorage.setItem('color-theme', 'light');
                    }
                }
    
                // Check if the page has already loaded
                if (document.readyState === 'complete') {
                    onPageLoad()
                } else {
                    window.addEventListener('load', onPageLoad)
                    // Remove the event listener when component unmounts
                    return () => window.removeEventListener('load', onPageLoad)
                }
            }, [])
            
            return (
                <main className={"relative bg-slate-200 text-slate-900 w-full min-h-screen flex items-center justify-center dark:bg-slate-800 dark:text-slate-100"}>
                    <DarkModeSwitch isDarkMode={isDarkMode} setIsDarkMode={setIsDarkMode}/>

                    <ul className="flex gap-4">
                        {data.map(item => {
                            return (
                                <li key={item.id} className="bg-white/50 w-44 p-4 rounded flex flex-col items-center gap-1.5 dark:bg-slate-900/50">
                                    <div className="ring ring-teal-400/50 w-12 h-12 rounded-full overflow-hidden">
                                        <img src={item.avatar} alt="" className="w-full h-full object-cover"/>
                                    </div>

                                    <div>{item.name}</div>
                                </li>
                            )
                        })}
                    </ul>
                </main>
            );
        }

        const container = document.getElementById('root')
        const root = ReactDOM.createRoot(container)
        root.render(<App />)

        function DarkModeSwitch({isDarkMode, setIsDarkMode}) {
            const switchDarkModeHandler = () => {
                setIsDarkMode(!isDarkMode)

                if(isDarkMode) {
                    document.documentElement.classList.remove('dark')
                } else {
                    document.documentElement.classList.add('dark')
                }
            }

            return (
                <button onClick={switchDarkModeHandler} className="absolute top-8 right-8 bg-slate-300 text-gray-700 p-2 rounded-full dark:bg-white/10 dark:text-gray-300">
                    {isDarkMode && <HeroIcons.Sun/>}
                    {!isDarkMode && <HeroIcons.Moon/>}
                </button>
            )
        }

        let data = [
            {
                id: 0,
                name: "Annie Jump",
                avatar: "https://i.pravatar.cc/150?img=9",
            },
            {
                id: 1,
                name: "Hedy Lamarr",
                avatar: "https://i.pravatar.cc/150?img=56",
            },
            {
                id:2,
                name: "Margaret Chase",
                avatar: "https://i.pravatar.cc/150?img=10",
            },
            {
                id: 3,
                name: "Biddy Mason",
                avatar: "https://i.pravatar.cc/150?img=7",
            },
        ]

    </script>
</body>

</html>