/* 
 * HTML: <div class="ribbon">Your content</div> 
 * Credits to https://css-generators.com/ribbon-shapes/
*/
.ribbon {
    --color: #BD1550;
    --f: .5em;
    /* control the folded part */

    position: absolute;
    top: 0;
    right: 0;
    line-height: 1.8;
    padding-inline: 1lh;
    padding-bottom: var(--f);
    border-image: conic-gradient(#0008 0 0) 50%/var(--f);
    clip-path: polygon(100% calc(100% - var(--f)), 100% 100%, calc(100% - var(--f)) calc(100% - var(--f)), var(--f) calc(100% - var(--f)), 0 100%, 0 calc(100% - var(--f)), 999px calc(100% - var(--f) - 999px), calc(100% - 999px) calc(100% - var(--f) - 999px));
    transform: translate(calc((1 - cos(45deg))*100%), -100%) rotate(45deg);
    transform-origin: 0% 100%;
    background-color: var(--color);
    /* the main color  */
}

.ribbon.blue { --color: hsl(199, 98%, 49%) }
.ribbon.purple { --color:hsl(279, 100%, 50%) }
.ribbon.red { --color: hsl(339, 99%, 48%) }

/* https://stackoverflow.com/a/32547561 */
@-moz-document url-prefix(){
    .ribbon {
        padding-inline: 2em;
        border: none;
    }
}